
<html>
<head>
  <h1> My name is <%=@name%></h1>
<style>
img {border-color: red; border-style: dashed}
</style>
</head>
<img src="http://bit.ly/1eze8aE"/>
</html>

  <% if @name.empty? %>
<form action="/named-cat">
  <div>
    <input type="text" name="name" />
    <input type="submit" value="Submit" />
  </div>
</form>
<% end %>
